.center{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.text-next-img{
    margin-top: 20px;
    margin-left: 20px;
}

.responsive{
    width: 100%;
    max-width: 350px;
    height: auto;

}
