.center{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.text-next-img{
    margin-top: 20px;
    margin-left: 20px;
}

.responsive{
    width: 100%;
    max-width: 350px;
    height: auto;


/* .img-fluid{
    margin-top: 20px;
    max-width: 350px;
    height: auto;
    margin-left: auto;
    margin-right:auto;
    display: block;
    text-align: center;

} */