body{
    font-family: 'Roboto Slab', serif;
    
}

.greetings{
    margin: 10% auto;
    text-align: center;
    background: #e82c2c;
    max-width: 65%;
    padding: 10px;
    color: white;
}

a {
    font-size: 18px;
}

.navbar{
    background: white;
}
