#jumboStuff {
    text-align: center;
    background-color: white;
}

#currentProj{
    color: black;
    text-align: center;
    margin-bottom: 0;
}

#UCBWork{
    background-color:royalblue;
    text-align: center;
}

#UCBWork h1{
    color: white;
    font-size: 3em;
    
}

#UCBWork button{
    margin-top: 15px;
}

#UCBBody{
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
}

#UCBBody h3{
    padding-top: 15px;
}

#UCBBody ul{
    text-align: left;
    width: 40%;
    margin: auto;
}

#solutionBody {
    background-color: royalblue;
    width: 40%;
    margin: 20px auto 20px auto;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100% 100%;
    background-image: none;
}

.carousel-control-next-icon:after{
    content: '>';
    font-size: 55px;
    color: black;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: black;
}

.carousel-inner img{
    max-width: 100%;
    height: auto;
}





