body{
    font-family: 'Roboto Slab', serif;
    
}

/* .navbar {
    background: #f74747;
} */

.greetings{
    margin: 10% auto;
    text-align: center;
    background: #e82c2c;
    max-width: 40%;
    padding: 10px;
    color: white;
}

a {
    font-size: 18px;
}
